/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    margin-left: 2rem;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    width: 375px;
    height: fit-content;
    font-size: 16px;
}

body p {
    color: #5b5e6d;
    font-family: Arial, Helvetica, sans-serif;
}

body h1, h2, h3 {
    color: #2C303F; 
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    position: sticky;
    top: 0;
    background-color: white;
}

nav ul {
    display: none;
}

#slack-logo {
    width: 30%;
}

#burger-menu {
    width: 13%;
    float: right;
    padding-top: 0.4rem;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#home-work-happening {
    width: 80%;
}

header h1 {
    
    font-size: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

header p {
   padding-bottom: 2rem; 
   line-height: 1.5rem;
}

.all-buttons {
    height: 3rem;
    
    border-radius: 0.4rem;
}

input {
    padding-left: 2rem;
    width: 80%;
    margin-bottom: 0;
    border: 1px solid #eaebf0;
}

button {
    width: 90%;
}

.get-started {
    
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    background-color: #192592;
    border-color: #192592;
    color: white;
    font-weight: bold;
    text-transform: uppercase;

}

#sign-in {
    text-align: center;
    padding-bottom: 2rem;
}

#company {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    background-color: #F4F3F4;
    line-height: 1.5rem;
}

#company h2 {
    font-size: 2.2rem;
    padding-bottom: 2rem;
}

#company button {

    
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: white;
    border: 1px solid grey;
    font-weight: bold;
   
}

#logo-container {
    width: 100%;
    background-color: #F4F3F4;
}

#logo-container div {
    border-bottom: solid 1px grey;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#company img {
 width: 60%;

}

#try-it {
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column;
    /* justify-content: center;
    text-align: center; */
    align-items: center;
}

#try-it h3 {
    font-size: 1.5rem;
}

#try-it p {
    margin-bottom: 0.7rem;
}

footer {
    color: #5b5e6d;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

#list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: #F4F3F4;
    margin-bottom: 2rem;
}

#list-container ul {
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#list-container ul li {
    padding-top: 1rem;
}

#list-container ul li:first-child {
    font-weight: bold;
}

#iso-slack {
    width: 25%;
}

#contacts {
    display: flex;
    flex-direction: column;
    background-color: #F4F3F4;
    text-align: center;
    font-weight: bold;
}

#contacts ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 1rem;
}

#flag {
    width: 5%;
}

#english-container {
    margin-bottom: 1rem;
}

#icon-container {
    margin-bottom: 1rem;
}